<html>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/bootstrap.js"></script>
	<head>
		<title>boring blog</title>
	</head>
	<body>
		<div class="navbar navbar-fixed-top" style="background: white;">
			<ul class="nav nav-tabs">
				<li><a href="/">Home</a></li>
				<% if session[:user] != nil %>
				  <li><a href="/about_me">About Me</a></li>
				<% end %>
				<% if session[:user] != nil %>              
				  <li><a href="/posts/new">New Post</a></li>
				<% end %>
				<li><a href="/registrate">Join us!</a></li>
				<% if session[:user] == nil %> 
				  <li><a href="/sign_in"> Sign in!</a></li>
                <% end %>
                <% if session[:user] != nil %>
				  <li><a href="/sign_out"> Sign out</a></li>
				<% end %>                           
				<% if post_show_page?  && @post.user.id == session[:user].id %>
					<li><a href="/posts/<%=@post.id%>/edit">Edit Post</a></li>
				<% end %>
				<% if session[:user] != nil %>
				  <li><p><% session[:user].name %></p></a>
				 <% end %>
			</ul>
		</div>
	    <div style="padding-top: 2%; padding-left: 2%;">
			<%= yield %>
		</div>
	</body>
</html>