<html>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script
	<head>
		<title>Blog of Posts</title>
	</head>
	<body>
		<div class="navbar navbar-fixed-top" style="background: white;">
			<ul class="nav nav-tabs">
				<li><a href="/">Home</a></li>
				<li><a href="/about_me">About Me</a></li>            
				<li><a href="/posts/new">New Post</a></li>
				<li><a href="/registrate">Join us!</a></li> 
				<li><a href="/sign_in"> Sign in!</a></li>                           
				<% if post_show_page?  %>
					<li><a href="/posts/<%=@post.id%>/edit">Edit Post</a></li>
	
				<% end %>
			</ul>
		</div>
	    <div style="padding-top: 2%; padding-left: 2%;">
			<%= yield %>
		</div>
	</body>
</html>