<!-- encoding: utf-8 -->
<% if @user!=nil %>
  <h1>About Me</h1>
  <p>My name is: <%= @user.name %></p>
  <p>My email: <%= @user.email %></p>
<% else %>
</br>
</br>
  <a href="/sign_in">U need sign in to view this content</a>
<% end %>