<html>
<body>
<form method="post" action="/registrate" >
</br>
</br>
	<p><b>Hello, %username% </b><Br>
		<input type="email" class="span4 form-control" name = "user[email]" placeholder="email">
		<input type="name" class="span4 form-control" name= "user[name]" placeholder="name">
		<input type="password" class="span4 form-control" name= "user[password]"placeholder="password">
		<p><input type="submit"  class="btn btn-success" value="Sign up"><span class="glyphicon glyphicon-ok"></p>
</form>
</body>
</html>