<html>
<body>
<form method="post" action="/registrate" >
</br>
	<p><b>Hello, %username% </b><Br>
		<input type="email" name = "email" > Email<Br>
		<input type="name" name= "name"> Your name<Br>
		<input type="password" name= "password"> Your password<Br>
		<p><input type="submit" value="Registrate"></p>
</form>
</body>
</html>
