</br>
</br>
<form method="POST" action="/sign_in">
	<input type="text" id="email" class="span4 form-control" name="email" placeholder="Email"><br/><br/> 
    <input type="password" id="password" class="span4 form-control" name="password" placeholder="Password"><br/><br/>
    <p><input type="submit"  class="btn btn-success" value="Sign in"><span class="glyphicon glyphicon-ok"></p>
</form>
