<h1>Edit Post</h1>
<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="put" />
 
  <label for="post_title">Title:</label><br />
  <input id="post_title" name="post[title]" type="text" value="<%= @post.title %>" />
  <br />
 
  <label for="post_body">Body:</label><br />
  <textarea id="post_body" name="post[body]" rows="20" cols="100"><%= @post.body %></textarea>
  <br />
  <br />
  <input type="submit" value="Edit Post" />
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Post" />
</form>  
