<!-- encoding: utf- -->8
<% if session[:user]!=nil %>
</br>
<h1>Welcome to my blog, <%= session[:user].name %> !</h1>
<ul>
<% @posts.each do |post| %>
  <li>
    <h2><a href="/posts/<%= post.id %>"><%= post.title %></a>
    <span><%= pretty_date(post.created_at) %></span>
    </h2>
  </li>
<% end %>
</ul>
<% else %>
</br>
</br>
<p> U need <a href="/sign_in"> sign in</a> </p>
<p> or <a href="/registrate"> registrate</a> </p>
<% end %>